name: Build
on: push

env:
  FORCE_COLOR: 1

jobs:
  set-version:
    runs-on: ubuntu-latest
    outputs:
      version: ${{ steps.set-version.outputs.version }}
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5
      - name: set version
        id: set-version
        run: echo version=$(date "+%Y-%m-%d-%H%M%S")-$(git rev-parse --short HEAD) >> "${GITHUB_OUTPUT}"

  build:
    needs:
      - set-version
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5

      - name: upload earthlyw
        uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5
        with:
          name: earthlyw
          path: earthlyw
          if-no-files-found: error

      - name: upload ew
        uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5
        with:
          name: ew
          path: ew
          if-no-files-found: error

  release-candidate:
    if: ${{ github.ref == 'refs/heads/main' }}
    needs:
      - set-version
      - build
    runs-on: ubuntu-latest
    permissions:
        issues: write
    env:
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    steps:
      - uses: lee-dohm/close-matching-issues@e9e43aad2fa6f06a058cedfd8fb975fd93b56d8f # v2
        with:
          query: 'label:release-candidate'
          token: ${{ secrets.GITHUB_TOKEN }}

      - uses: dacbd/create-issue-action@cdb57ab6ff8862aa09fee2be6ba77a59581921c2 # v2.0.0
        name: Create Release candidate issue
        with:
          title: Release candidate ${{ needs.set-version.outputs.version }}
          token: ${{secrets.GITHUB_TOKEN}}
          labels: release-candidate
          body: |
            A new release candidate has been created.

            Comment on this issue with `/approve-release` to promote this candidate to a full release.

            <details>
            <summary>Release candidate data</summary>

            ```
            version: ${{ needs.set-version.outputs.version }}
            run_id: ${{ github.run_id }}
            ```

            </details>
